body {
    background-color: #E6C585;
    text-align: center;
    font-family: Hind;
}

h1 {
    text-align: center;
    font-family: Teko;
    font-size: 50px;
}

img {
    width: 200px;
    display: block;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: center; 
}

.make, .eat {
    background-color: #CC6702;
    border-radius: 5px;
    width: 15rem;
    padding: 0px 15px 15px 15px;
    margin: 5px;
    display: inline-block; 
}

.burger {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #603C28;
    color: #22B14C;
}

button {
    background-color: #ED1C24;
    border-radius: 10px;
    border: 2px solid red;
    padding: 3px;
}

button:hover {
    cursor: pointer;
}

#create {
    background-color: #B75EB7;
    border-color: purple;
}

.form-group {
    display: inline-block;
}